<!DOCTYPE html>
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign in</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div style="margin-top: 80px; width: 900px; margin: 80px auto">
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend> Login </legend>
            {{ form|crispy }}
        </fieldset>
        <div><button type="submit">Login</button></div>
    </form>
</div>
</body>
</html>